@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/*Basic targeting in CSS*/
.basic-example{
    display: flex;
    background-color: #ccc;
    padding: 3em;
    height: 80vh;
}
p:target{
    background: red;
    color:#fff;
    padding: .1em;
}
img{
    max-width: 100%;
}
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 1em;
    padding: 5em;
    background: #333;
}
.portfolio img{
    width: 100%;
    height: auto;

}
.portfolio__item{
    background: #fff;
}
.portfolio__desc{
    padding: 1.5em;
}
.portfolio__title{
    font-size: 1.5em;
    margin-top: 0;
}
.portfolio-lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0,1);
    transform-origin: right ;
    transition: transform ease-in-out 500ms;
}
.portfolio-lightbox:target{
    /*display: flex;*/
    transform: scale(1,1);
    transform-origin: left ;
}
.portfolio-lightbox__content{
    position: relative;
    width: 75%;
    background: #000;
    padding: 1em;
}
.close{
    position: absolute;
    width: 2em;
    height: 2em;
    background: red;
    top: -1em;
    right: -1em;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close::after{
    content: 'X';
    color: #fff;
    font-weight: 700;
}
